/* TimeLine*/
#main.beauty .timeline{display:none}

@media only screen and (min-width: 1024px) {
    /* Menu + Burger - Desktop + Tablette Paysage */
    /*#menu { display: none; }*/
}

@media only screen and (min-width: 768px) and (max-width: 1110px) and (orientation:portrait), only screen and (max-width: 767px) {
    /* Menu - Mobile + Tablette Portrait */
    header nav { display: none; }
    header.open {height: 120px !important;}
}
